@import "./variables/colors";
@import "./variables/fonts";
@import "./navbar/navbar";
@import "./header/header";
@import "./aboutUs/aboutUs";
@import "./meetTeam/meetTeam";

html,
body {
  width: 100% !important;
  overflow-x: hidden !important;
  margin: 0px;
  padding: 0px;
}
body {
  background: #fff;
}

.transparent {
  font-family: $montserrat;
  @include navbar;
  .navbar-brand {
    @include brand;
  }
  .nav-link {
    @include link;
  }
  .nav-link:hover {
    @include hoverLink;
  }
}

#mainHeader {
  @include hBackground;
  height: 100vh;
  .hbrand {
    @include hbrand;
  }
  .sub-title {
    @include subTitle;
  }
  .main-title {
    @include mainTitle;
  }
  .white-underline {
    @include whiteUnderline;
  }
  .learnBtn {
    @include btnLearn;
  }
}

.toggler {
  @include btn;
  .bar-1 {
    @include bar1;
  }
  .bar-2 {
    @include bar2;
  }
  .bar-3 {
    @include bar3;
  }
}

#aboutUs {
  height: 100%;
  .container {
    min-height: 50%;
    overflow: hidden;
  }
  .titles {
    @include titles;
    .topTitle {
      @include topTitle;
    }
    .botTitle {
      @include botTitle;
    }
    .pink-underline {
      @include pinkUnderline;
    }
  }
  .paragraph {
    @include paragraphText;
  }
  .aboutImages {
    @include aboutImages;
  }
  .aboutUsImage {
    @include aboutUsImage;
  }
  .aboutUsImage:hover {
    @include imageHover;
  }
  .progression {
    @include progression;
  }
  .item {
    height: 270px;
  }
  .progression-text {
    @include progressionText;
  }
  .progression-number {
    @include progressionNumber;
  }
}
#amazingServices {
  height: 100%;
  .titles {
    @include titles;
    .topTitle {
      @include topTitle;
    }
    .botTitle {
      @include botTitle;
    }
    .pink-underline {
      @include pinkUnderline;
    }
  }
  .img-fluid {
    width: 32px;
    height: 32px;
  }
  margin-bottom: 126px;
}
#uniqueDesign {
  height: 850px;
  background: url(./imgs/uniqueDesignBackground/images/background_02.jpg)
    no-repeat center center fixed;
  .titles {
    @include titles;
    .topTitle {
      @include topTitle;
    }
    .botTitle {
      @include botTitle;
    }
    .pink-underline {
      @include pinkUnderline;
    }
  }
  .img-fluid {
    opacity: 0.9;
  }
}
#whatWeDo {
  height: 100%;
  .titles {
    @include titles;
    .topTitle {
      @include topTitle;
    }
    .botTitle {
      @include botTitle;
    }
    .pink-underline {
      @include pinkUnderline;
    }
  }

  .paragraph {
    @include paragraphText;
    margin-bottom: 100px;
  }
  .leftPhoto {
    height: 445px;
    margin-bottom: 120px;
  }
  #collapseOne {
    position: relative;
  }
  .arrow {
    height: 12px;
    width: 22px;
  }
  .leftIcon {
    width: 30px;
    height: 30px;
  }
  .greyWindow {
    width: 100%;
    height: 300px;
    background: #f8f8f8;
    .author {
      width: 60px;
      height: 3px;
      background: $pink;
      margin-top: 0.65rem;
    }
  }
  .authorQuote {
    font-family: $kaushan;
  }
}
#meetOurTeam {
  height: 100%;
  .titles {
    @include titles;
    .topTitle {
      @include topTitle;
    }
    .botTitle {
      @include botTitle;
    }
    .pink-underline {
      @include pinkUnderline;
    }
  }
  .meetTeam {
    transition: 1s all ease-in-out;
    height: 470px;
    width: 350px;
    img {
      transition: 1s all ease-in-out;
      height: 470px;
      width: 420px;
    }
  }
  .meetTeam:hover {
    @include photoHover;
    img {
      opacity: 0.3;
    }
    .icons {
      position: absolute;
      opacity: 1;

      border: none;
    }
  }
  .icons {
    a {
      text-decoration: none;
    }

    position: absolute;
    transition: 1s all ease-in-out;
    opacity: 0;
    z-index: 5;
    border: none;
  }
  .fa-facebook-f {
    @include facebookBk;
  }
  .fa-twitter {
    @include otherIcons;
  }
  .fa-pinterest-p {
    @include otherIcons;
  }
  .fa-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 55px;
    width: 55px;
    color: $pink;
    background: $yellow;
  }
  .greyWindow {
    width: 100%;
    height: 300px;
    background: #F8F8F8;
  }
}
#someOurWork{
  height:100%;
  .titles {
    @include titles;
    .topTitle {
      @include topTitle;
    }
    .botTitle {
      @include botTitle;
    }
    .pink-underline {
      @include pinkUnderline;
    }
  }
  .example{
    height:300px;
    width:360px;
  }
  .example-lg{
    height:600px;
    width:360px;
  }
  .author {
    width: 60px;
    height: 3px;
    background: $pink;
    margin-top: 0.65rem;
  }

.authorQuote {
  font-family: $kaushan;
}
}