html,
body {
  width: 100% !important;
  overflow-x: hidden !important;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

.transparent {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  height: 5rem;
  box-shadow: none;
}
.transparent .navbar-brand {
  margin-left: 200px;
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 0px 1px #fff;
}
.transparent .nav-link {
  height: 40px;
  transition: 0.5s all ease-in-out;
  color: #fff;
  font-size: 15px;
  text-shadow: 1px 0px 0px #fff;
}
.transparent .nav-link:hover {
  color: #FCE38A;
  border-bottom: 4px solid #FCE38A;
  text-shadow: 1px 0px 0px #FCE38A;
}

#mainHeader {
  background: url("./imgs/bannerBackground/background_01.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
#mainHeader .hbrand {
  height: 100vh;
}
#mainHeader .sub-title {
  text-shadow: 1px 0px 1px #fff;
  color: #fff;
  font-family: "Kaushan Script", cursive;
}
#mainHeader .main-title {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-shadow: 2px 0px 1px #fff;
}
#mainHeader .white-underline {
  height: 3px;
  background: #fff;
  width: 60px;
}
#mainHeader .learnBtn {
  color: #fff;
  font-size: 18px;
  width: 160px;
  outline: 3px solid #fff;
  text-shadow: 1px 0px 1px #fff;
}

.toggler {
  transition: 1s all ease;
  width: 50px;
  height: 50px;
  margin-top: 40px;
}
.toggler .bar-1 {
  height: 3px;
  width: 30px;
  background: #fff;
}
.toggler .bar-2 {
  height: 3px;
  width: 15px;
  margin-left: 7px;
  background: #fff;
}
.toggler .bar-3 {
  height: 3px;
  width: 30px;
  background: #fff;
}

.change {
  transition: 1s all ease;
}
.change .bar-1 {
  transform: rotate(-45deg) translate(-5px, 6.5px);
}
.change .bar-2 {
  opacity: 0;
}
.change .bar-3 {
  transform: rotate(45deg) translate(-2.5px, -5px);
}

#aboutUs {
  height: 100%;
}
#aboutUs .container {
  min-height: 50%;
  overflow: hidden;
}
#aboutUs .titles {
  margin-top: 91px;
}
#aboutUs .titles .topTitle {
  font-family: "Kaushan Script", cursive;
  font-size: 33px;
}
#aboutUs .titles .botTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
}
#aboutUs .titles .pink-underline {
  height: 3px;
  background: #F38181;
  width: 60px;
}
#aboutUs .paragraph {
  font-size: 20px;
}
#aboutUs .aboutImages {
  margin-top: 95px;
  width: 100%;
}
#aboutUs .aboutUsImage {
  transition: 1s all ease-in-out;
  width: 350px;
}
#aboutUs .aboutUsImage:hover {
  box-shadow: 10px 10px 0px #95E1D3;
}
#aboutUs .progression {
  background: #95E1D3;
  margin-top: 120px;
  height: 100%;
  width: 100%;
}
#aboutUs .item {
  height: 270px;
}
#aboutUs .progression-text {
  font-size: 19px;
  color: #fff;
}
#aboutUs .progression-number {
  font-size: 94px;
  color: #fff;
}

#amazingServices {
  height: 100%;
  margin-bottom: 126px;
}
#amazingServices .titles {
  margin-top: 91px;
}
#amazingServices .titles .topTitle {
  font-family: "Kaushan Script", cursive;
  font-size: 33px;
}
#amazingServices .titles .botTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
}
#amazingServices .titles .pink-underline {
  height: 3px;
  background: #F38181;
  width: 60px;
}
#amazingServices .img-fluid {
  width: 32px;
  height: 32px;
}

#uniqueDesign {
  height: 850px;
  background: url(./imgs/uniqueDesignBackground/images/background_02.jpg) no-repeat center center fixed;
}
#uniqueDesign .titles {
  margin-top: 91px;
}
#uniqueDesign .titles .topTitle {
  font-family: "Kaushan Script", cursive;
  font-size: 33px;
}
#uniqueDesign .titles .botTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
}
#uniqueDesign .titles .pink-underline {
  height: 3px;
  background: #F38181;
  width: 60px;
}
#uniqueDesign .img-fluid {
  opacity: 0.9;
}

#whatWeDo {
  height: 100%;
}
#whatWeDo .titles {
  margin-top: 91px;
}
#whatWeDo .titles .topTitle {
  font-family: "Kaushan Script", cursive;
  font-size: 33px;
}
#whatWeDo .titles .botTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
}
#whatWeDo .titles .pink-underline {
  height: 3px;
  background: #F38181;
  width: 60px;
}
#whatWeDo .paragraph {
  font-size: 20px;
  margin-bottom: 100px;
}
#whatWeDo .leftPhoto {
  height: 445px;
  margin-bottom: 120px;
}
#whatWeDo #collapseOne {
  position: relative;
}
#whatWeDo .arrow {
  height: 12px;
  width: 22px;
}
#whatWeDo .leftIcon {
  width: 30px;
  height: 30px;
}
#whatWeDo .greyWindow {
  width: 100%;
  height: 300px;
  background: #f8f8f8;
}
#whatWeDo .greyWindow .author {
  width: 60px;
  height: 3px;
  background: #F38181;
  margin-top: 0.65rem;
}
#whatWeDo .authorQuote {
  font-family: "Kaushan Script", cursive;
}

#meetOurTeam {
  height: 100%;
}
#meetOurTeam .titles {
  margin-top: 91px;
}
#meetOurTeam .titles .topTitle {
  font-family: "Kaushan Script", cursive;
  font-size: 33px;
}
#meetOurTeam .titles .botTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
}
#meetOurTeam .titles .pink-underline {
  height: 3px;
  background: #F38181;
  width: 60px;
}
#meetOurTeam .meetTeam {
  transition: 1s all ease-in-out;
  height: 470px;
  width: 350px;
}
#meetOurTeam .meetTeam img {
  transition: 1s all ease-in-out;
  height: 470px;
  width: 420px;
}
#meetOurTeam .meetTeam:hover {
  box-shadow: 10px 10px 0px #95E1D3;
  background: #f38181;
  background: linear-gradient(180deg, #f38181 42%, #fce38a 92%);
}
#meetOurTeam .meetTeam:hover img {
  opacity: 0.3;
}
#meetOurTeam .meetTeam:hover .icons {
  position: absolute;
  opacity: 1;
  border: none;
}
#meetOurTeam .icons {
  position: absolute;
  transition: 1s all ease-in-out;
  opacity: 0;
  z-index: 5;
  border: none;
}
#meetOurTeam .icons a {
  text-decoration: none;
}
#meetOurTeam .fa-facebook-f {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid #F38181;
  font-size: 30px;
  height: 55px;
  width: 55px;
  color: #fff;
  background: #F38181;
}
#meetOurTeam .fa-twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid #F38181;
  font-size: 30px;
  height: 55px;
  width: 55px;
  color: #F38181;
  background: #FCE38A;
}
#meetOurTeam .fa-pinterest-p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid #F38181;
  font-size: 30px;
  height: 55px;
  width: 55px;
  color: #F38181;
  background: #FCE38A;
}
#meetOurTeam .fa-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 55px;
  width: 55px;
  color: #F38181;
  background: #FCE38A;
}
#meetOurTeam .greyWindow {
  width: 100%;
  height: 300px;
  background: #f8f8f8;
}

#someOurWork {
  height: 100%;
}
#someOurWork .titles {
  margin-top: 91px;
}
#someOurWork .titles .topTitle {
  font-family: "Kaushan Script", cursive;
  font-size: 33px;
}
#someOurWork .titles .botTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
}
#someOurWork .titles .pink-underline {
  height: 3px;
  background: #F38181;
  width: 60px;
}
#someOurWork .example {
  height: 300px;
  width: 360px;
}
#someOurWork .example-lg {
  height: 600px;
  width: 360px;
}
#someOurWork .author {
  width: 60px;
  height: 3px;
  background: #F38181;
  margin-top: 0.65rem;
}
#someOurWork .authorQuote {
  font-family: "Kaushan Script", cursive;
}

#whatPeopleSay {
  height: 100%;
  background: url(./imgs/whatPeopleSayBackground/background_10.jpg) no-repeat center center fixed;
  background-size: cover;
}
#whatPeopleSay .titles {
  margin-top: 91px;
}
#whatPeopleSay .titles .topTitle {
  font-family: "Kaushan Script", cursive;
  font-size: 33px;
}
#whatPeopleSay .titles .botTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
}
#whatPeopleSay .titles .pink-underline {
  height: 3px;
  background: #F38181;
  width: 60px;
}
#whatPeopleSay .pink-underline {
  height: 3px;
  background: #F38181;
  width: 60px;
}
#whatPeopleSay .endPage {
  margin-bottom: 131px;
}

#latestBlog {
  height: 100%;
}
#latestBlog .titles {
  margin-top: 91px;
}
#latestBlog .titles .topTitle {
  font-family: "Kaushan Script", cursive;
  font-size: 33px;
}
#latestBlog .titles .botTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
}
#latestBlog .titles .pink-underline {
  height: 3px;
  background: #F38181;
  width: 60px;
}
#latestBlog .icon {
  height: 11px;
  width: 20px;
}
#latestBlog .iconM {
  height: 11px;
  width: 15px;
}

.endPage {
  height: 100%;
}
.endPage .btn {
  width: 120px;
  height: 39px;
}
.endPage .blogImg {
  height: 80px;
  width: 120px;
}
.endPage .blogs {
  margin-top: 4rem;
}
.endPage .instagram {
  width: 100px;
  height: 100px;
}
.endPage i {
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
